<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
  <test name="Test">
  	<parameter name="browser" value="chrome"/>
  		<classes>
  			<class name="com.buffaloCart.testCases.LoginInTestCase">
  				<methods>
          			<include name="logInTestCase"></include>
        		</methods>	
  			</class>
  			<class name="com.buffaloCart.testCases.DashboardTestCase">
  				<methods>
          			<include name="clockINTestCase"></include>
          			<include name="openEventTestCase"></include>
          			<include name="openTasksTestCase"></include>
          			<include name="openTeamsTimelineTestCase"></include>
        		</methods>	
  			</class>
  			<class name="com.buffaloCart.testCases.EventTestCase">
  				<methods>
          			<include name="addEventTestCase"></include>
          			<include name="navigateEventForwardTestCase"></include>
          			<include name="navigateEventBackwardTestCase"></include>
          			<include name="eventWeekViewTestCase"></include>
          			<include name="eventDayViewTestCase"></include>
          			<include name="eventListViewTestCase"></include>
          			<include name="eventMonthViewTestCase"></include>
        		</methods>	
  			</class>
  		</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->